* {
    box-sizing: border-box;
    background-color: #fff;
}
.line {
    color: #999;
    border-bottom: 1px solid #999;
    margin: 50px 0;
}
.headline{
    text-align: center;
    font-size: 33px;
}
/* grids */
.parent4t4 {
    display: flex;
    flex-wrap: wrap;
}
.children16 {
    width: 25%;
    height: 100px;
    background-color: lightblue;
    border: 1px solid #fff;
    border-radius: 10px;
    text-align: right;
    color: #fff;
    padding: 3px;
    
}
.parent2t2 {
    display: flex;
    flex-wrap: wrap;
}
.children4 {
    width: 50%;
    height: 100px;
    background-color: lavender;
    border: 1px solid #fff;
    border-radius: 10px;
    text-align: right;
    color: #fff;
    padding: 3px;
    
}
.parent6 {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 100px;
}
.children6 {
    width: 16.6%;
    height: 100px;
    background-color: rgb(199, 253, 148);
    border: 1px solid #fff;
    border-radius: 10px;
    text-align: right;
    color: #fff;
    padding: 3px;
    
}

/* form */

.form {
    margin-bottom: 100px;
}
.form-table {
    margin: 0 auto;
}

.form-table th {
    text-align: left;
}
input {
    width: 500px;
    height: 40px;
    padding: 10px;
    background-color: rgb(252, 237, 219);
    border-radius: 10px;
    border: none;
}
.button {
    text-align: center;
}
.button-sign-in {
    margin: 20px;
    padding: 10px;
    width: 500px;
    border: none;
    border-radius: 10px;
    background-image: linear-gradient(40deg, #fce043 0%, #fb7ba2 74%);
    font-size: 17px;
    text-align: center;
    cursor: pointer;
}